.details-event {
  padding-top: 100px;
}

.details-event {
  background: linear-gradient(rgba(21, 32, 43, 0.6), rgba(21, 32, 43, 0.6)),
    url(https://curlied.sfo3.digitaloceanspaces.com/curliedImages/background/bg-evenement2.jpg);
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.similar-events {
  padding-bottom: 80px;
  padding-top: 80px;
}

.username{
  text-transform: capitalize;
}
