.details{
  background: var(--main-bg);
  min-height: calc(100vh - 94px);
}

.details__card{
  background-color: var(--main-white);
  padding: 9rem 6.5rem;
  color: black;
  box-shadow: 0px 0px 10px #00000040;
  border-radius: 9rem;
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
}

.details__header{
  display: flex;
  gap: 8rem;
}

.details__img{
  width: 200px;
  height: 300px;
  border-radius: 3rem;
  overflow: hidden;
}

.details__img img{
  object-fit: cover;
  height: 100%;
}

.details__info{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.details__title{
  font-size: 3.5rem;
}

.details__description{
  font-size: 2rem;
}

.details__body{
  display:flex;
  justify-content: space-between;
}

.details__body > *{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}