<div class="details d-flex align-items-center justify-content-center">
  <div *ngIf="!event || !event.category;else eventBlock">
    <div class="spinner-grow text-light" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <ng-template #eventBlock>
    <div class="container details__container d-flex justify-content-space-between">
        <main class="details__card">
          <div class="details__header">
            <div class="details__img">
              <img class="img-fluid" src="{{ event.url_image[0] || event.category.url_image }}">
            </div>
            <div class="details__info">
              <h1 class="details__title">
                {{ event.name }}
              </h1>
              <p class="details__description">
                {{ event.description }}
              </p>
            </div>
          </div>
          <div class="details__body">
              <div class="detail__category">
                <img src="{{ event.category.url_icon }}" height="20">
                <p class="event__label">{{ event.category.name }} €</p>
              </div>
              <div class="detail__date">
                <app-svg icon="calendar" class="details__icon"></app-svg>
                <p class="event__label">
                  {{ event.date_time | date: 'dd/MM/yyyy HH:mm' }}
                </p>
              </div>
              <div class="detail__price">
                <app-svg icon="member" class="details__icon"></app-svg>
                <p class="event__label">
                  {{ event.price }} €
                </p>
              </div>
          </div>
          <div class="details__footer">
            <div class="d-none d-xl-block" *ngIf="!event.CurrentUserIsAdmin">
              <ng-template [ngIf]="event.CurrentUserHasParticipant == true" [ngIfElse]="RequestParticipe">
                <button class="btn btn-radius-style btn-danger w-100 mt-5"
                  (click)="cancelParticipate(event._id)">Annuler votre participation</button>
                <div class="text-danger text-center mt-2 d-none d-xl-block">
                  <small>En annulant la participation à l'événement, vous céderez votre place à un autre
                    curlietos</small>
                </div>
              </ng-template>
              <ng-template #RequestParticipe>
                <button class="btn btn-main w-100 mt-5" *ngIf="canParticipate"
                  (click)="requestParticipate(event._id)">Rejoindre l'évenement</button>
                <div class="color-main text-center mt-2 d-none d-xl-block">
                  <small>En demandant à rejoindre un événement, vous acceptez que votre numéro de téléphone
                    soit divilgué à l'hôte</small>
                </div>
              </ng-template>
            </div>
            <div class="col-12 d-block d-xl-none" *ngIf="!event.CurrentUserIsAdmin">
              <ng-template [ngIf]="event.CurrentUserHasParticipant == true" [ngIfElse]="RequestParticipe">
                <button class="btn btn-radius-style btn-danger w-100 mt-5"
                  (click)="cancelParticipate(event._id)">Annuler votre participation</button>
                <div class="text-danger text-center mt-2 d-none d-xl-block">
                  <small>En annulant la participation à l'événement, vous céderez votre place à un autre
                    curlietos</small>
                </div>
              </ng-template>
              <ng-template #RequestParticipe>
                <button class="btn btn-main w-100 mt-5" *ngIf="canParticipate"
                  (click)="requestParticipate(event._id)">Rejoindre l'évenement</button>
                <div class="color-main text-center mt-2 d-none d-xl-block">
                  <small>En demandant à rejoindre un événement, vous acceptez que votre numéro de téléphone
                    soit divilgué à l'hôte</small>
                </div>
              </ng-template>
            </div>       
          </div>
        </main>
        <aside class="member">

        </aside>
    </div>
  </ng-template>
</div>
