<div class="details d-flex align-items-center justify-content-center">
  <div *ngIf="!event || !event.category;else eventBlock">
    <div class="spinner-grow text-light" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <ng-template #eventBlock>
    <div class="container details__container d-flex justify-content-between">
        <main class="details__card d-flex flex-column">
          <div class="details__header d-flex">
            <div class="details__img">
              <img class="img-fluid" src="{{bucketEvent}}{{ event.url_image[0] || event.category.url_image }}" alt="Image d'illustration de l'évenement : {{event.name}}">
            </div>
            <div class="details__info d-flex flex-column">
              <h1 class="details__title">
                {{ event.name }}
              </h1>
              <p class="details__description">
                {{ event.description }}
              </p>
            </div>
          </div>
          <div class="details__body d-flex justify-content-between">
              <div class="detail__category d-flex flex-column align-items-center">
                <img src="{{ event.category.url_icon }}" height="20" alt="Image illustrant la catégorie {{event.category.name}}">
                <p class="details__label">{{ event.category.name }} €</p>
              </div>
              <div class="detail__date d-flex flex-column align-items-center">
                <app-svg icon="calendar" class="details__icon"></app-svg>
                <p class="details__label">
                  {{ event.date_time | date: 'dd/MM/yyyy HH:mm' }}
                </p>
              </div>
              <div class="detail__price d-flex flex-column align-items-center">
                <app-svg icon="devise" class="details__icon"></app-svg>
                <p class="details__label">
                  {{ event.price }} €
                </p>
              </div>
              <div class="detail__location d-flex flex-column align-items-center">
                <app-svg icon="pin" class="details__icon"></app-svg>
                <p class="details__label">
                  {{ event.place }}
                </p>
              </div>
          </div>
          <div class="details__footer d-flex justify-content-center">
            <ng-template [ngIf]="event.CurrentUserIsAdmin" [ngIfElse]="Participate">
              <button class="btn btn-main">
                Modifier
              </button>
            </ng-template>
            <ng-template #Participate>
              <ng-template [ngIf]="event.CurrentUserHasParticipant" [ngIfElse]="RequestParticipe">
                <button class="btn btn-radius-style btn-danger" (click)="cancelParticipate(event._id)">
                  Annuler
                </button>
              </ng-template>
              <ng-template #RequestParticipe>
                <button class="btn btn-main" *ngIf="canParticipate" (click)="requestParticipate(event._id)">
                  Rejoindre
                </button>
              </ng-template> 
              <div class="details__contact">
                <a class="btn btn-main">
                  Contacter
                </a>
              </div> 
            </ng-template> 
          </div>
        </main>
        <aside class="member d-flex flex-column">
          <h2 class="member__title">Participants</h2>
          <div class="member__container d-flex flex-column">
            <div class="member__item member__item--creator d-flex justify-content-between">
              <div class="member__img">
                <app-svg icon="profil" class="member__icons"></app-svg>
              </div>
              <p class="member__username">{{ event.creator.username || "Aucun" }}  </p>
            </div>
            <div class="member__item d-flex justify-content-between" *ngFor="let participant of event.users_valide">
              <div class="member__img">
                <app-svg icon="profil" class="member__icons"></app-svg>
              </div>
              <p class="member__username">{{ participant.username || "Aucun" }}  </p>
              <button class="btn btn-main">Ajouter</button>
            </div>
            <div class="waintingRoom" *ngIf="event.CurrentUserIsAdmin">
              <hr class="waitingRoom__separator" />
              <h2 class="member__title">En attente</h2>
              <div class="member__container d-flex flex-column">
                <div class="member__item d-flex justify-content-between" *ngFor="let participant of event.users_waiting">
                  <div class="member__img">
                    <app-svg icon="profil" class="member__icons"></app-svg>
                  </div>
                  <p class="member__username">{{ participant.username || "Aucun" }}  </p>
                  <button class="btn btn-main">Accepter</button>
                </div>
              </div>
            </div>
            <div class="member__footer">
              <p class="member__count">
                {{event.users_valide.length}} / {{event.user_max}}
              </p>
            </div>
          </div>
        </aside>
    </div>
  </ng-template>
</div>
