<div class="main">
    <div class="first text-white">
        <div class="text">
            <p class="mb-0"><strong>Lorem ipsum Lorem ipsum dolor sit</strong></p>
            <p>amet consectetur adipisicing elit. Voluptas nostrum, explicabo, sit quasi architecto alias</p>
        </div>
        <img [src]="global_bucket_images + 'phone1.webp'" class="tel1">
        <img [src]="global_bucket_images + 'phone2.webp'" class="tel2">
        <p class="paragraph2">
            Lorem ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas nostrum, explicabo, sit quasi
            architecto alias.
        </p>
    </div>
    <div class="second">
        <div class="form-container">
            <div class="d-sm-flex text-center text-sm-start justify-content-center mb-5">
                <h1 class="welcome">Bienvenue sur</h1>
                <img src="./assets/images/logo.svg" class="ms-3">
            </div>
            <form (ngSubmit)="register()" [formGroup]="profileForm">
                <div class="form-group">
                    <label for="user_name">Nom d'utilisateur</label>
                    <input type="text" formControlName="username" id="Nom d'utilisateur" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Adresse mail</label>
                    <input type="text" formControlName="email" id="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" formControlName="password" id="password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirmer le mot de passe</label>
                    <input type="password" formControlName="confirm_password" id="confirm_password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="birthday">Date de naissance</label>
                    <input type="date" formControlName="birth_date" max="{{currentDate | date:'yyyy-MM-dd'}}" id="birthday" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="phone_number">Numéro de téléphone</label>
                    <input type="text" formControlName="telephone" id="phone_number" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="profile_pic">Photo de profil</label>
                    <input type="file" (change)="uploadFile($event)" id="profile_pic" class="form-control" required>
                </div>
                <div class="button mt-5">
                    <button class="btn btn-main" type="submit">S'inscrire</button>
                    <div class="px-4">
                        <a class="text-decoration-none fw-bold color-main" routerLink="/connexion">Se connecter</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>