<div class="app--container">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="row user align-items-start" *ngIf="profilData">
                    <div class="col-3 col-lg-2 user__img">
                        <app-svg icon="profil" class="user__profil"></app-svg>
                    </div>
                    <div class="col-9 col-lg-7 user__info">
                        <h2 class="heading--secondary">{{ profilData.username }}</h2>
                        <p class="paragraph user__age">
                            <span>{{ profilData.age }} ans</span>
                            <span class="ps-4">
                                B1 - Informatique
                            </span>
                        </p>
                        <p class="paragraph user__desc">{{ profilData.description }}</p>
                    </div>
                    <div class="col-lg-3 user__actions">
                        <button type="button" class="btn btn-main" data-bs-toggle="modal" data-bs-target="#editModal">
                            Modifier
                        </button>
                        <button type="button" class="btn user__parameter" data-bs-toggle="modal"
                            data-bs-target="#settingsModal">
                            <app-svg icon="parameters" class="user__parameter"></app-svg>
                        </button>
                        <button type="button" class="btn d-xl-none" data-bs-toggle="modal"
                            data-bs-target="#friendListModal">
                            Ajouter un amis
                        </button>
                    </div>
                </div>
                <div class="user__events mt-5">
                    <h2 class="heading--secondary event__title">Mes événements</h2>
                    <div class="events row gy-5" *ngIf="allEventsData">
                        <div *ngFor="let eventCreate of allEventsData.eventsCreate" class="col-md-6 col-lg-4">
                            <div class="event__card" routerLink="/detailsEvenement"
                                [queryParams]="{event: eventCreate._id}">
                                <div class="d-flex justify-content-between event__info">
                                    <h3 class="heading--tertiary">{{ eventCreate.name }}</h3>
                                    <app-svg icon="crown" class="crown"></app-svg>
                                </div>
                                <p class="paragraph event__categ">{{ eventCreate.categoryInfo.name }}</p>
                                <img class="event__img" ngSrc="{{global_bucket_images + eventCreate.url_image[0]}}" height="200" width="200">
                            </div>
                        </div>
                        <div *ngFor="let eventParticipate of allEventsData.eventsParticipate" class="col-md-6 col-lg-4">
                            <div class="event__card" routerLink="/detailsEvenement"
                                [queryParams]="{event: eventParticipate._id}">
                                <div class="event__info">
                                    <h3 class="heading--tertiary">{{eventParticipate.name }}</h3>
                                    <p class="paragraph">{{ eventParticipate.categoryInfo.name }}</p>
                                </div>
                                <img class="event__img" ngSrc="{{global_bucket_images + eventParticipate.url_image[0]}}" height="200"
                                    width="200">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 d-none d-xl-block">
                <div class="user__friends">
                    <h2 class="heading--secondary text-center">Amis</h2>
                    <div class="search">
                        <app-svg icon="search" class="search__icon"></app-svg>
                        <input type="search" class="search__input" placeholder="Chercher un événement">
                    </div>
                    <div class="friend">
                        <div class="d-flex justify-content-between align-items-center friend__item">
                            <div class="friend__info">
                                <app-svg icon="profil" class="friend__profil"></app-svg>
                                <p class="paragraph">Maxime</p>
                            </div>
                            <button type="button" class="btn-close" aria-label="Close"></button>
                        </div>
                        <div class="d-flex justify-content-between align-items-center friend__item">
                            <div class="friend__info">
                                <app-svg icon="profil" class="friend__profil"></app-svg>
                                <p class="paragraph">Lisa</p>
                            </div>
                            <button type="button" class="btn-close" aria-label="Close"></button>
                        </div>
                        <div class="d-flex justify-content-between align-items-center friend__item">
                            <div class="friend__info">
                                <app-svg icon="profil" class="friend__profil"></app-svg>
                                <p class="paragraph">Marie</p>
                            </div>
                            <button type="button" class="btn-close" aria-label="Close"></button>
                        </div>
                        <div class="d-flex justify-content-between align-items-center friend__item">
                            <div class="friend__info">
                                <app-svg icon="profil" class="friend__profil"></app-svg>
                                <p class="paragraph">Pierre</p>
                            </div>
                            <button type="button" class="btn-close" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title heading--tertiary" id="editModalLabel">Paramètres</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row modal-body">
                <div class="col-xl-3">
                    <div class="nav nav-pills modal__menu" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link active tab-btn" id="v-pills-informations-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-informations" type="button" role="tab"
                            aria-controls="v-pills-informations" aria-selected="true">
                            <app-svg icon="edit" class="friend__profil"></app-svg>
                            <span class="d-none d-xl-block modal__link">Informations</span>
                        </button>
                        <button class="nav-link tab-btn" id="v-pills-password-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-password" type="button" role="tab" aria-controls="v-pills-password"
                            aria-selected="false">
                            <app-svg icon="eye" class="friend__profil"></app-svg>
                            <span class="d-none d-xl-block modal__link">Mot de passe</span>
                        </button>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="tab-content info" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-informations" role="tabpanel"
                            aria-labelledby="v-pills-informations-tab">
                            <h3 class="heading--tertiary color-main">Informations Personnelles</h3>
                            <form [formGroup]="editInfoForm" class="form info__form">
                                <div class="row gy-5">
                                    <div class="d-flex form-header">
                                        <app-svg icon="profil" class="edit_profil"></app-svg>
                                        <input type="file" class="input input--file">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="pseudo" class="label">Nom d'utilisateur</label>
                                        <input type="text" formControlName="username" readonly name="pseudo" id="pseudo"
                                            class="input input--text" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="label">Date de naissance</label>
                                        <input type="date" formControlName="birth_date" readonly name="birth_date"
                                            id="birth_date" class="input input--date" required>
                                    </div>
                                    <div class="col-md-3 degree">
                                        <label for="label" class="label">Niveau Ynov</label>
                                        <select class="select" id="degree__level" aria-label="Degree Level Select">
                                            <option value="B1" selected>B1</option>
                                            <option value="B2">B2</option>
                                            <option value="B3">B3</option>
                                            <option value="M1">M1</option>
                                            <option value="M2">M2</option>
                                        </select>
                                    </div>
                                    <div class="col-md-9 course">
                                        <label for="label" class="label">Formation Ynov</label>
                                        <select class="select" id="course__level" aria-label="Course level Select">
                                            <option value="informatique" selected>
                                                Informatique
                                            </option>
                                            <option value="creation_digital_design">
                                                Création & Digital Design
                                            </option>
                                            <option value="marketing_communication">
                                                Marketing Communication
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="email" class="label">Adresse email</label>
                                        <input type="email" formControlName="email" readonly name="email" id="email"
                                            autocomplete="new-email" class="input input--email" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="telephone" class="label">Téléphone</label>
                                        <input type="tel" formControlName="telephone" readonly name="telephone"
                                            id="telephone" class="input input--tel" required>
                                    </div>
                                    <div class="col-12">
                                        <label for="about_me" class="label">A propos de moi</label>
                                        <textarea class="input input--textarea" readonly formControlName="aboutMe"
                                            name="about_me" id="about_me" rows="2"></textarea>
                                    </div>
                                </div>
                                <button class="btn btn-main" type="submit">Modifier informations</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="v-pills-password" role="tabpanel"
                            aria-labelledby="v-pills-password-tab">
                            <h3 class="heading--tertiary color-main">Mot de passe</h3>
                            <form [formGroup]="editPasswordForm" class="info__form">
                                <div class="row gy-5">
                                    <div class="col-12">
                                        <label for="old_password" class="label">Ancien mot de passe</label>
                                        <input type="password" formControlName="old_password" name="old_password"
                                            id="old_password" class="input input--password" required>
                                    </div>
                                    <div class="col-12">
                                        <label for="new_password" class="label">Nouveau mot de passe</label>
                                        <input type="password" formControlName="new_password" name="new_password"
                                            id="new_password" class="input input--password" required>
                                    </div>
                                    <div class="col-12">
                                        <label for="confirm_new_password" class="label">Nouveau mot de passe</label>
                                        <input type="password" formControlName="confirm_new_password"
                                            name="confirm_new_password" id="confirm_new_password"
                                            class="input input--password" required>
                                    </div>
                                </div>
                                <button class="btn btn-main" type="submit">Modifier mot de passe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Settings Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content border-0 px-4 py-2">
            <div class="modal-header border-0">
                <h3 class="modal-title heading--tertiary" id=" settingsModalLabel">Paramètres</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row modal-body align-items-start">
                <div class="col-12 col-xl-3 nav nav-pills modal__menu" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                    <button class="nav-link active tab-btn" id="v-pills-notifications-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-notifications" type="button" role="tab"
                        aria-controls="v-pills-notifications" aria-selected="true">
                        <app-svg icon="notification" class="notification__icon"></app-svg>
                        <span class="d-none d-xl-block modal__link">Notifications</span>
                    </button>
                    <button class="nav-link tab-btn" id="v-pills-display-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-display" type="button" role="tab" aria-controls="v-pills-display"
                        aria-selected="false">
                        <app-svg icon="eye" class="password__icon"></app-svg>
                        <span class="d-none d-xl-block modal__link">Affichage</span>
                    </button>
                    <button class="nav-link tab-btn" id="v-pills-security-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-security" type="button" role="tab" aria-controls="v-pills-security"
                        aria-selected="false">
                        <app-svg icon="security" class="security__icon"></app-svg>
                        <span class="d-none d-xl-block modal__link">
                            Confidentialité & Sécurité
                        </span>
                    </button>
                    <button class="nav-link" id="v-pills-report-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-report" type="button" role="tab" aria-controls="v-pills-report"
                        aria-selected="false">
                        <app-svg icon="question" class="icon"></app-svg>
                        <span class="d-none d-xl-block modal__link">
                            Signaler un problème
                        </span>
                    </button>
                </div>
                <div class="col-12 col-xl-9 tab-content ps-xl-4" id="v-pills-tabContent">
                    <div class="tab-pane fade show active mt-3" id="v-pills-notifications" role="tabpanel"
                        aria-labelledby="v-pills-notifications-tab">
                        <div class="form-check form-switch">
                            <input class="input input--checkbox" type="checkbox" id="notificationsSwitch" checked>
                            <label class="label" for="notificationsSwitch">Activer notifications</label>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-display" role="tabpanel"
                        aria-labelledby="v-pills-display-tab">
                        <div class="form-check form-switch">
                            <input class="input input--checkbox" type="checkbox" id="largeTextSwitch">
                            <label class="label" for="largeTextSwitch">Agrandir le texte</label>
                        </div>
                        <div class="form-check form-switch mt-3">
                            <input class="input input--checkbox" type="checkbox" id="darkModeSwitch">
                            <label class="label" for="darkModeSwitch">Mode sombre</label>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-security" role="tabpanel"
                        aria-labelledby="v-pills-security-tab">
                        <div class="form-check form-switch">
                            <input class="input input--checkbox" type="checkbox" id="privateAccountSwitch">
                            <label class="label" for="privateAccountSwitch">Compte privé</label>
                        </div>
                        <div class="form-check form-switch mt-3">
                            <input class="input input--checkbox" type="checkbox" id="cookiesSwitch">
                            <label class="label" for="cookiesSwitch">Gérer les cookies</label>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-report" role="tabpanel" aria-labelledby="v-pills-report-tab">
                        <textarea class="form-control" formControlName="report" name="report" id="report" rows="4"
                            placeholder="Expliquez-nous votre problème">
                        </textarea>
                        <button class="btn btn-main mt-3" type="submit">Envoyer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Friend List Modal -->
<div class="modal fade" id="friendListModal" tabindex="-1" aria-labelledby="friendListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content border-0 px-4 py-2">
            <div class="modal-header border-0">
                <h3 class="modal-title" id="friendListModalLabel">Amis</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="friends">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex align-items-center">
                            <img width="50" height="50" ngSrc="/assets/images/profil.svg" alt="">
                            <p class="paragraph">Maxime</p>
                        </div>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex align-items-center">
                            <img width="50" height="50" ngSrc="/assets/images/profil.svg" alt="">
                            <p class="mb-0 ms-3 fw-bold">Lisa</p>
                        </div>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex align-items-center">
                            <img width="50" height="50" ngSrc="/assets/images/profil.svg" alt="">
                            <p class="mb-0 ms-3 fw-bold">Marie</p>
                        </div>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex align-items-center">
                            <img width="50" height="50" ngSrc="/assets/images/profil.svg" alt="">
                            <p class="mb-0 ms-3 fw-bold">Pierre</p>
                        </div>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>