.user {
  background-color: var(--main-white);
  padding: var(--gap-md);
}

.events {
  margin-top: 0;
}

.event__info {
  gap: var(--gap-md);
  padding: var(--gap-md);
  align-items: center;
}

.event__categ {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
}

.icon__categorie {
  fill: none;
  color: var(--main-color);
  width: 3rem;
  height: 3rem;
}

.event__img {
  width: 100%;
  height: 19rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.event__title {
  color: var(--main-white);
}

.event__card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 2rem;
  background-color: var(--main-white);
  overflow: hidden;
  padding: 0;
  cursor: pointer;
}

.event__img {
  margin-top: auto;
}

.event__icon {
  width: 1rem;
  height: 1rem;
  color: var(--main-white);
  fill: var(--main-color);
}

.user {
  border-radius: 2rem;
}

.user__age {
  margin-top: var(--gap-xs);
}

.user__desc {
  margin-top: var(--gap-l);
}

.user__friends {
  background-color: var(--main-white);
  padding: var(--gap-md);
  border-radius: 2rem;
}

.user__actions {
  display: flex;
  align-items: flex-start;
  justify-content: end;
  column-gap: 3rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.user__profil {
  fill: var(--main-color);
  display: block;
  width: 10rem;
  height: 10rem;
}

.crown {
  display: block;
  width: 2rem;
  height: 2rem;
  padding: 0;
}

.user__parameter {
  fill: var(--main-dark);
  display: block;
  width: 3rem;
  height: 3rem;
  padding: 0;
}

.user__friends {
  color: var(--main-white);
  fill: var(--main-dark);
  display: block;
  width: 3rem;
  height: 3rem;
  padding: 0;
}

.friends {
  max-height: 60vh;
  overflow-y: auto;
}

.friends__search {
  width: 100%;
  border-radius: 3rem;
  border: 1px solid #707070;
  padding: var(--gap-xs) var(--gap-md) var(--gap-xs) var(--gap-l);
}

.friends__info {
  display: flex;
  align-items: center;
  margin-top: var(--gap-l);
}

.friend {
  margin-top: var(--gap-l);
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.friend__info {
  display: flex;
  gap: var(--gap-md);
  align-items: center;
}

.friend__profil,
.notification__icon,
.password__icon,
.security__icon {
  width: 3rem;
  height: 3rem;
  display: block;
  fill: var(--main-dark);
  color: var(--main-dark);
}

.edit_profil {
  fill: var(--main-color);
  width: 6rem;
  height: 6rem;
  display: block;
}
.tab-btn {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.modal__menu {
  display: flex;
  flex-direction: column;
}

.nav-link.active {
  background-color: transparent;
  color: var(--main-color);
}

.form-header {
  align-items: flex-end;
  gap: var(--gap-md);
}

.info__form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  align-items: flex-end;
  margin-top: var(--gap-l);
}

.modal__menu {
  display: flex;
  flex-direction: row;
  gap: var(--gap-md);
}

.modal__link {
  font-size: var(--font-size-md);
}

@media (min-width: 992px) {
  .user__actions {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .modal__menu {
    flex-direction: column;
  }
}
