<div class="navbar navbar-expand-lg">
  <div class="container">
    <div class="logo">
      <a routerLink=''><img src="./assets/images/logo.svg" class="logo__img" height="20"></a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="search d-flex">
      <img class="search__icon" src="./assets/images/search.svg" alt="" height="15">
      <input type="search" class="search__input" placeholder="Chercher un événement">
    </div>
    <div class="d-flex collapse navbar-collapse navbar__content" id="navbarContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-main ms-3 py-1" routerLink='/creationEvenement'>Créer un event</a>
        </li>
        <li class="nav-item">
          <a class="mx-3" routerLink=""><img src="./assets/images/accueil.svg" alt="" height="25"></a>
        </li>
        <li class="nav-item">
          <a class="mx-3 position-relative" routerLink="messages">
            <img src="./assets/images/message.svg" alt="" height="25">
            <span
              class="notification-indicator position-absolute start-100 translate-middle bg-danger border border-light rounded-circle">
              <span class="visually-hidden">Nouveau(x) message(s)</span>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <a class="mx-3 dropdown " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
              aria-expanded="false"><img src="./assets/images/notification-bell.svg" alt="" height="25">
              <span
                class="notification-indicator position-absolute start-100 translate-middle bg-danger border border-light rounded-circle">
                <span class="visually-hidden">Nouvelle(s) notification(s)</span>
              </span>
            </a>
            <div class="dropdown-menu dropdown-notifications px-4 py-3" aria-labelledby="dropdownMenuButton1">
              <small class="fw-bold">Nouveau</small>
              <div class="d-flex align-items-start justify-content-between mt-3">
                <div class="d-flex">
                  <img src="./assets/images/profil.svg" alt="" height="30">
                  <div class="ms-2 ">
                    <small class="mb-0 fw-bold d-block">Ryan</small>
                    <small class="d-block">Je souhaite rejoindre Cinema Avengers !</small>
                  </div>
                </div>
                <button class="btn btn-main ms-3 py-1"><small>Accepter</small></button>
              </div>
              <div class="d-flex align-items-start justify-content-between mt-3">
                <div class="d-flex">
                  <img src="./assets/images/profil.svg" alt="" height="30">
                  <div class="ms-2 ">
                    <small class="mb-0 fw-bold d-block">Lisa</small>
                    <small class="d-block">Demande d'ami</small>
                  </div>
                </div>
                <button class="btn btn-main ms-3 py-1"><small>Accepter</small></button>
              </div>
              <hr class="my-3 bg-main">
              <small class="fw-bold">Précédent</small>
              <div class="d-flex align-items-start justify-content-between mt-3">
                <div class="d-flex">
                  <img src="./assets/images/profil.svg" alt="" height="30">
                  <div class="ms-2 ">
                    <small class="mb-0 fw-bold d-block">Clarissa</small>
                    <small class="d-block">Demande d'ami</small>
                  </div>
                </div>
                <button class="btn btn-main ms-3 py-1"><small>Accepter</small></button>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ng-template [ngIf]='isConnected' [ngIfElse]="login">
        <div class="dropdown mx-3">
          <a type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><img
              src="./assets/images/profil.svg" alt="" height="25"></a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" routerLink="profil">Profil</a></li>
            <li><a class="dropdown-item" (click)="logout()">Deconnexion</a></li>
          </ul>
        </div>
      </ng-template>

      <ng-template #login>
        <a class="hover-zoom d-flex flex-column align-items-center mx-3" routerLink="/connexion" title="connexion">
          <img src="./assets/images/profil.svg" height="25">
        </a>
      </ng-template>


    </div>
  </div>
</div>