/* .btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  color: #f1f3f5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #176DE2;
  border: 1px solid transparent;
  padding: 0.20rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.50rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 
  
}  */

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  background-color: white !important;
  border-color: grey !important;
  margin-bottom: 0 !important;
}

.icon-container {
  width: 1.75rem;
}

.notification-indicator {
  padding: 0.35rem;
  top: 3px;
}

.dropdown-notifications {
  width: 320px;
  border: none;
  margin-top: 2rem;
  max-height: 400px;
  overflow-y: overlay;
}

.event-nav {
  text-decoration: none;
  color: black;
}

.search-icon {
  left: 1.5rem;
  filter: invert(53%) sepia(0%) saturate(0%) hue-rotate(59deg) brightness(95%) contrast(94%);
}