<div class="bg-grey">
    <div class="container sitemap">
        <div class="row">
            <div class="card col-12 col-md-4">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/">Home</a>
                    </h5>
                </div>
            </div>
            <div class="card col-12 col-md-4">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/connexion">Connexion</a>
                    </h5>
                </div>
            </div>
            <div class="card col-12 col-md-4">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/detailsEvenement">Details évènement</a>
                    </h5>
                </div>
            </div>
            <div class="card col-12 col-md-4">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/creationEvenement">Création évènement</a>
                    </h5>
                </div>
            </div>
            <div class="card col-12 col-md-4">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/profil">Profil</a>
                    </h5>
                </div>
            </div>
            <div class="card col-12 col-md-4">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/messages">Messages</a>
                    </h5>
                </div>
            </div>
            <div class="card col-12 col-md-4">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/mention-legal">Mention-legal</a>
                    </h5>
                </div>
            </div>
            <div class="card col-12 col-md-4">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/sitemap">Sitemap</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>