.main {
  display: flex;
  height: 100vh;
  background-color: white;
}

.hero {
  flex: 1;
  background: linear-gradient(#78bcf7, #2828c9);
  display: grid;
  grid-template-columns: 116fr 350fr 60fr 330fr 50fr;
  grid-template-rows:
    90fr minmax(auto, 85fr) 160fr 160fr 180fr minmax(auto, 115fr)
    160fr;
}

.phone--1 {
  grid-column: 4/5;
  grid-row: 2/5;
  height: 100%;
}

.phone--2 {
  grid-column: 2/3;
  grid-row: 4/7;
  height: 100%;
}

/*********************************partie 2*********************************/

.form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__container {
  width: 45rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .hero {
    display: none;
  }
  .form {
    background: linear-gradient(#78bcf7, #2828c9);
  }
  .form__container {
    background-color: white;
    padding: var(--gap-md) var(--gap-xl);
    border-radius: 3rem;
  }
}

@media only screen and (max-width: 450px) {
  .form-container {
    width: 95%;
  }
}
