.main {
    display: flex;
    height: 100vh;
	background-color: white;
}

.first {
    flex: 1;
    background: linear-gradient(#78BCF7, #2828C9);
    display: grid;
    grid-template-columns: 116fr 350fr 60fr 330fr 50fr;
    grid-template-rows: 90fr minmax(auto,85fr) 160fr 160fr 180fr minmax(auto,115fr) 160fr;
}

.tel1 {
    grid-column: 4/5;
    grid-row: 2/5;
    height: 100%;
}

.tel2 {
    grid-column: 2/3;
    grid-row: 4/7;
    height: 100%;
}


/*********************************partie 2*********************************/

.second {
    flex: 1;
    display: flex;
    justify-content: center;
	align-items: center;
}

.form-container {
	width: 450px;
}

.welcome {
    display: flex;
	justify-content: center;
    color: black;
}

input, select, textarea {
  background-color: transparent !important;
  border-radius: 10px !important;
  border: 1px solid #707070 !important;
}

.button {
    display: flex;
	align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .first {
	display: none;
  }
  .second {
	background: linear-gradient(#78BCF7, #2828C9);
  }
  .form-container {
	background-color: white;
	padding: 2rem 3rem;
	border-radius: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .form-container {
	width: 95%;
  }
}
