<div class="main">
  <div class="hero">
    <div class="paragraph hero__paragraphe hero__paragraphe--top">
      <p><strong>Pas d'amis disponibles ? Viens sur Curlied !</strong></p>
      <p>"C'est encore annulé !<br>Je ne sais pas avec qui y aller.<br>Je ne sais pas quoi ramener."<br> Fini les
        problèmes d'organisation.</p>
    </div>
    <div class="phone--1-1">
      <img ngSrc="{{global_bucket_images + 'phone1.webp'}}" class="phone--1"
        alt="Telephone montrant un evenement tourné vers la gauche" height="400" width="450">
    </div>
    <div class="phone--2-1">
      <img ngSrc="{{global_bucket_images + 'phone2.webp'}}" class="phone--2"
        alt="Telephone montrant un evenement tourné vers la droite" height="400" width="450">
    </div>
    <p class="paragraph hero__paragraphe hero__paragraphe--bottom">
      Un site dédié aux Ynoviens pour rejoindre, créer facilement des évènements et partager des moments inoubliables.
    </p>
  </div>
  <div class="form">
    <div class="form__container">
      <div class="d-sm-flex text-center text-sm-start justify-content-center mb-5 align-items-center gap-3">
        <h1 class="heading--primary">Bienvenue sur</h1>
        <img ngSrc="./assets/images/logo.svg" alt="logo" height="30" width="100">
        <h1 hideIsProd>de dev</h1>
      </div>
      <form class="form__form" (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="form__group">
          <label for="email" class="label">Adresse email</label>
          <input type="email" formControlName="email" class="input input--email" id="email" required>
        </div>
        <div class="form__group">
          <label for="password" class="label">Mot de passe</label>
          <input type="password" formControlName="password" class="input input--password" id="password" required>
        </div>
        <div class="form__actions">
          <button class="btn btn-main" type="submit">Se connecter</button>
          <a class="link" routerLink="/inscription">S'inscrire</a>
        </div>
      </form>
      <div hideIsProd class="form__footer">
        <small class="link">Mot de passe oublié ?</small>
      </div>
    </div>
  </div>
</div>