.admin {
  padding: 200px 0;
  background: linear-gradient(rgba(21, 32, 43, 0.6), rgba(21, 32, 43, 0.6)),
    url("https://curlied.sfo3.digitaloceanspaces.com/curliedImages/background/bg-evenement1.jpg");
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-tabs {
  border-color: var(--main-color);
}

.nav-link {
  color: var(--main-white);
}

.nav-tabs .active {
  color: var(--main-color);
  background: none;
  border-color: var(--main-color);
  border-bottom: 1px solid var(--main-dark);
}

h2 {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 6rem;
  font-weight: bold;
  font-size: var(--font-size-l);
  text-align: left;
}

h2::after {
  background-color: var(--main-color);
  content: "";
  display: block;
  height: 2px;
  left: 3rem;
  bottom: -50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 6rem;
  border-radius: 1rem;
}

.img-category {
  background: linear-gradient(rgba(21, 32, 43, 0.8), rgba(21, 32, 43, 0.8)),
    url("https://curlied.sfo3.digitaloceanspaces.com/curliedImages/background/bg-cinema.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
}

.status-event {
  padding: 1px 4px;
}

.status-denied {
  background-color: #c95a5a;
}

.status-pending {
  background-color: #ff9547;
}

.status-validated {
  background-color: #6bdd82;
}
