<div class="footer d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <a routerLink="">Conditions d'utilisation</a>
                <b class="px-2">.</b>
                <a routerLink="">Politique de confidentialité</a>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <p>© 2021 Curlied</p>
            </div>
        </div>
    </div>
</div>