<div class="alert alert-primary alert-pwa alert-dismissible" role="alert" *ngIf="pwaPlatform">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>


  <div class="text-center" *ngIf="pwaPlatform === 'ANDROID'">
    <button type="button" (click)="addToHomeScreen()" class="btn btn-outline-primary"><b>Cliquez sur ce texte pour
        installer l'application sur votre
        téléphone android</b></button>
  </div>

  <div class="text-center" *ngIf="pwaPlatform === 'IOS'">
    <b>Pour installer cette application sur votre périphérique IOS , cliquez sur le bouton
      <img
        src="https://res.cloudinary.com/rodrigokamada/image/upload/v1641089482/Blog/angular-pwa/safari_action_button_38x50.png"
        class="ios-menu m-0" />
      et ajoutez sur l'écran d'accueil</b>
    <i class="bi bi-plus-square"></i>
  </div>
  <div class="text-center" *ngIf="pwaPlatform === 'BROWSER'">
    <button type="button" (click)="addToHomeScreen()" class="btn btn-outline-primary"><b>Cliquez sur ce texte pour
        installer l'application sur votre périphérique</b></button>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-outline-danger" (click)="disable()" data-bs-dismiss="alert" aria-label="Close"><b>Non merci, ne plus me demander</b></button>
  </div>
</div>