<div class="events">
<div class="filters">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <form (ngSubmit)="submitSearch()" [formGroup]="searchFormGroup">
          <div class="row">
            <div class="col-sm-12 form-group">
              <label for="departements">Catégories</label>
              <select class="form-select" (change)="changeDepartment()" aria-label="category" formControlName="category">
                <option value="tous" selected>Toutes les catégories</option>
                <option *ngFor="let category of arrayCategories" value="{{category._id}}">{{category.name}}</option>
              </select>
            </div>
          </div>
          <div class="row my-3 align-items-center">
            <div class="col-sm-4 form-group">
              <label for="departements">Départements</label>
              <select class="form-select" (change)="changeDepartment()" aria-label="numdepartment" formControlName="numdepartment" *ngIf="arrayDepartement">
                <option value="tous" selected>Tous les départements</option>
                <option *ngFor="let departement of arrayDepartement" value="{{departement.code}}">{{departement.nom}}
                </option>
              </select>
            </div>
            <div class="col-sm-4 form-group">
              <label for="departements">Commune</label>
              <select *ngIf="!arrayCommune" class="form-select" aria-label="code" formControlName="code">
              </select>
              <select *ngIf="arrayCommune" class="form-select" aria-label="code" formControlName="code">
                <option *ngFor="let commune of arrayCommune; let i = index;" 
                  value="{{commune.codesPostaux[0]}}-{{commune.nom}}">{{commune.codesPostaux[0]}}-{{commune.nom}}
                </option>
              </select>
            </div>
            <div class="col-sm-4 form-group">
              <label for="date">Date prévue</label>
              <input type="date" class="form-control mb-0" min="{{dateMin | date:'yyyy-MM-dd'}}"  id="date" name="date" formControlName="date">
            </div>
          </div>
          <button class="btn btn-main w-100 mt-3" type="submit">RECHERCHER</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="list">
  <div class="container">
    <div class="row">
      <div *ngFor="let event of arrayEvent" class="col-lg-6 col-xl-4 p-0 my-4">
        <a class="bg-dark-mode rounded shadow d-flex mx-4 text-decoration-none text-white hover-card"
          routerLink="/detailsEvenement" [queryParams]="{ event: event._id }">
          <div>
            <img class="rounded" *ngIf="!event.url_image.length" [src]="event.categoryComplet.url_image" height="150"
              width="120">
            <img class="rounded" *ngIf="event.url_image.length" [src]="event.url_image[0]" height="150" width="120">
          </div>
          <div class="d-flex flex-wrap py-2 px-4">
            <p class="f-size20 w-100 m-0">{{ event.name }}</p>
            <div class="d-flex align-items-center mb-4">
             
                <img [src]="event.categoryComplet.url_icon" height="20">
              
              <p class="w-100 fw-bold text-uppercase m-0 px-2">{{ event.categoryComplet.name }}</p>
            </div>
            <small class="f-size14 w-100">{{ event.date_time | date: 'dd/MM/yyyy'}}</small>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</div>