.events {
  background: linear-gradient(rgba(21, 32, 43, 0.6), rgba(21, 32, 43, 0.6)),
    url(https://curlied.sfo3.digitaloceanspaces.com/curliedImages/background/bg-evenement2.jpg);
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
}

.list {
  padding-top: 80px;
  padding-bottom: 80px;
}

.checkboxCategories {
  background-color: var(--main-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.form-check-input {
  right: 0px;
  top: -8px;
  height: 25px;
  width: 25px;
}

h4 {
  margin-bottom: 30px;
}

form {
  display: block;
}

@media only screen and (min-width: 576px) {
  .form-check-input {
    position: absolute;
  }
}

@media only screen and (max-width: 576px) {
  .categorie-choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    border-radius: 50rem;
    margin-bottom: 10px;
  }
  .form-categories {
    border: none;
    box-shadow: none !important;
  }
}
