/*
----------------------------------
[Sommaire]
1. Global
2. Texte
3. Formulaire
4. Couleurs
5. Boutons
6. Formes
7. Scroll Bar
8. Hover Effet
9. Responsive
----------------------------------
*/

/*
----------------------------------
1. Global
----------------------------------
*/

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --main-color: #176de2;
  --main-dark: #15202b;
  --main-white: #fff;
  --main-bg: transparent linear-gradient(180deg, #8bdafb 0%, #4835ff 100%) 0% 0%
    no-repeat padding-box;
  --font-family-primary: "Co Headline";
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Dosis", sans-serif;
}

section {
  display: flex;
  align-items: center;
}

/*
----------------------------------
2. Texte
----------------------------------
*/
.heading--secondary {
  font-weight: bold;
  font-size: 3rem;
}

.heading--tertiary {
  margin: 0;
  font-size: 2rem;
}

.paragraph {
  font-size: 2rem;
}

.icon__label {
  font-size: 1.4rem;
  display: block;
  font-weight: bold;
  color: var(--main-color);
}

/*
----------------------------------
3. Input
----------------------------------
*/
.input {
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
.input__label {
  color: var(--main-color);
  font-size: 1.4rem;
}

/*
----------------------------------
3. Icon
----------------------------------
*/
.icon {
  width: 6rem;
  height: 6rem;
  display: block;
  margin: 0 auto;
}

/*
----------------------------------
4. Couleurs
----------------------------------
*/

.color-main {
  color: var(--main-color);
}

.bg-dark-mode {
  background-color: var(--main-dark) !important;
}

.bg-main {
  background-color: var(--main-color);
}

.bg-red {
  background-color: #c95a5a;
}

.border-main-color {
  border: 1px solid var(--main-color);
}

/*
----------------------------------
5. Boutons
----------------------------------
*/

.btn-main {
  font-size: 1.5rem;
  background-color: var(--main-color);
  color: var(--main-white);
  border-radius: 20px;
  padding: 1rem 2rem;
  font-weight: bold;
  line-height: normal;
}

.btn-main:hover {
  background-color: var(--main-dark);
  color: var(--main-white);
  border-color: var(--main-dark);
}

.btn-reverse {
  background-color: var(--main-dark);
  color: var(--main-color);
  border-color: var(--main-color);
  border-radius: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn-reverse:hover {
  background-color: var(--main-color);
  color: var(--main-white);
  border-radius: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn-custom {
  background: none;
  border: none;
}

.link {
  color: var(--main-color);
  text-decoration: underline !important;
  margin: 0 0.5rem;
}

.btn-radius-style {
  border-radius: 2rem;
  padding: 0 2rem;
  color: var(--main-white);
}

.btn-radius-style:hover {
  border-radius: 2rem;
  padding: 0 2rem;
}

/*
----------------------------------
6. Formes
----------------------------------
*/

.square-16 {
  width: 1.6rem;
  height: 1.6rem;
}

.square-30 {
  height: 3rem;
  width: 3rem;
}

.square-35 {
  height: 3.5rem;
  width: 3.5rem;
}

.square-100 {
  height: 10rem;
  width: 10rem;
}

/*
----------------------------------
8. Hover Effet
----------------------------------
*/

.hover-zoom,
.hover-card {
  transition: 0.3s;
}

.hover-card:hover {
  transform: scale(1.04);
}

.hover-zoom:hover {
  transform: scale(1.2);
}

/*
----------------------------------
9. Responsive
----------------------------------
*/

@media only screen and (min-width: 1200px) {
  .viewport-height {
    height: 100vh;
  }
}

@media only screen and (max-width: 992px) {
  section {
    padding: 8rem 0;
  }
}

@media only screen and (max-width: 1200px) {
  section {
    padding: 8rem 0;
  }
}
