.event {
  align-items: flex-start;
}

.event__form {
  row-gap: var(--gap-s);
}

.event__card {
  background-color: var(--main-white);
  padding: var(--gap-md);
  max-width: 53rem;
  border-radius: var(--gap-xl);
}

.event__title {
  margin-bottom: var(--gap-xl);
  color: var(--main-dark);
  font-size: var(--font-size-l);
  font-family: var(--font-family-primary);
  text-align: center;
}

.form-label {
  font-size: var(--font-size-s);
  color: var(--main-color);
}

.form-control {
  border-radius: 5rem;
  padding: var(--gap-xs);
  border-color: var(--main-color);
  font-size: var(--font-size-s);
}

.form-textarea {
  resize: vertical;
  padding: var(--gap-md);
  min-height: 10rem;
}

.form-control:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 0 0.25rem var(--main-color);
}

.file {
  display: flex !important;
  row-gap: var(--gap-xs);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent !important;
  padding: 0 !important;
  outline: none !important;
}

.file .upload-input {
  position: unset !important;
  transform: none !important;
}

.file .icon {
  display: none;
}

.file::before {
  content: "";
  background-image: url("../../../assets/images/photo.svg");
  background-size: cover;
  display: block;
  width: 10rem;
  height: 10rem;
  margin: auto;
}

.file .upload-text {
  padding-left: 0 !important;
}

app-footer {
  display: none !important;
}

@media (min-width: 768px) {
  .event__card {
    padding: var(--gap-xl);
    border-radius: 9rem;
  }

  .event__title {
    font-size: var(--font-size-xl);
  }
}
