.event {
  align-items: flex-start;
}

.event__form {
  row-gap: var(--gap-s);
}

.event__card {
  background-color: var(--main-white);
  padding: var(--gap-md);
  max-width: 53rem;
  border-radius: var(--gap-xl);
}

.event__title {
  margin-bottom: var(--gap-xl);
  color: var(--main-dark);
  font-size: var(--font-size-l);
  font-family: var(--font-family-primary);
  text-align: center;
}

app-footer {
  display: none !important;
}

@media (min-width: 768px) {
  .event__card {
    padding: var(--gap-xxl);
    border-radius: 9rem;
  }

  .event__title {
    font-size: var(--font-size-xl);
  }
}
