<section class="app--container">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="users__list bg-white h-100">
                    <div class="d-flex align-items-center justify-content-between justify-content-xl-center ">
                        <h2 class="heading--secondary users__title">Discussions</h2>
                        <div class="navbar d-xl-none">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarToggleExternalContent"
                                aria-controls="navbarToggleExternalContent" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <app-svg icon="hamburger" class="icon"></app-svg>
                            </button>
                        </div>
                    </div>

                    <div class="nav users__tabs flex-column" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <button class="nav-link active d-flex align-items-center users__tab" id="v-pills-maxime-tab"
                            data-bs-toggle="pill" data-bs-target="#v-pills-maxime" type="button" role="tab"
                            aria-controls="v-pills-maxime" aria-selected="true">
                            <app-svg icon="profil" class="icon"></app-svg>
                            <p class="users__name">Maxime</p>
                        </button>
                        <button class="nav-link d-flex align-items-center users__tab" id="v-pills-lisa-tab"
                            data-bs-toggle="pill" data-bs-target="#v-pills-lisa" type="button" role="tab"
                            aria-controls="v-pills-lisa" aria-selected="false">
                            <app-svg icon="profil" class="icon"></app-svg>
                            <p class="users__name">Lisa</p>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-9">
                <div class="users__messages">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-maxime" role="tabpanel"
                            aria-labelledby="v-pills-maxime-tab">
                            <h2 class="heading--secondary">Maxime</h2>
                            <div class="tchat">
                                <div class="message message--sender">
                                    <app-svg icon="profil" class="icon"></app-svg>
                                    <p class="message__text">
                                        Bacon ipsum dolor amet tenderloin
                                        kevin pork belly filet mignon. Shank
                                        burgdoggen cupim cow beef jerky boudin. Jerky
                                        landjaeger drumstick andouille, bresaola brisket ham. Brisket t-bone leberkas
                                        kevin pork. Porchetta shankle
                                        picanha
                                        short ribs ?
                                    </p>
                                </div>
                                <div class="message message--receiver">
                                    <p class="message__text">
                                        Porchetta ball tip chicken hamburger
                                        leberkas andouille, ham hock
                                        pig ham salami meatloaf. Turducken venison frankfurter
                                        ham, tongue landjaeger andouille 😉
                                    </p>
                                    <app-svg icon="profil" class="icon"></app-svg>
                                </div>
                                <div class="message message--sender">
                                    <app-svg icon="profil" class="icon"></app-svg>
                                    <p class="message__text">Meatball ! ❤️</p>
                                </div>
                            </div>
                            <div class="tchat__input">
                                <textarea class="input input--textarea" placeholder="Entré votre message"></textarea>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-lisa" role="tabpanel" aria-labelledby="v-pills-lisa-tab">
                            <h2 class="heading--secondary">Lisa</h2>
                            <div class="tchat">
                                <div class="message message--sender">
                                    <app-svg icon="profil" class="icon"></app-svg>
                                    <p class="message__text">
                                        Pancetta ground pastrami short ribs
                                        chislic !!! 👁️👄👁️
                                    </p>
                                </div>
                                <div class="message message--receiver ">
                                    <p class="message__text">
                                        Capicola tri-tip jerky short loin
                                        bresaola turducken tail tongue
                                        flank. Flank spare ribs
                                        ground round ribeye 😏
                                    </p>
                                    <img width="50" height="50" src="/assets/images/profil.svg" alt="Profil icon">
                                </div>
                                <div class="message message--sender">
                                    <app-svg icon="profil" class="icon"></app-svg>
                                    <p class="message__text">
                                        Alcatra shoulder buffalo chicken,
                                        kevin burgdoggen meatloaf boudin
                                        pork cow brisket
                                    </p>
                                </div>
                                <div class="message message--sender">
                                    <app-svg icon="profil" class="icon"></app-svg>
                                    <p class="message__text">
                                        Filet mignon biltong turducken cupim
                                        meatball. Beef brisket salami
                                        shoulder pig picanha 🤣
                                    </p>
                                </div>
                                <div class="message message--receiver">
                                    <p class="message__text">Picanha pig doner bacon 🫡</p>
                                    <app-svg icon="profil" class="icon"></app-svg>
                                </div>
                            </div>
                            <div class="tchat__input">
                                <textarea class="input input--textarea" placeholder="Entré votre message"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>