<section class="app--container">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <form (ngSubmit)="submitSearch()" [formGroup]="searchFormGroup">
          <div class="filters d-flex flex-column">
            <div class="d-md-none filters__toggle filters__mobile">
              <button class="navbar-toggler p-0" type="button" data-bs-toggle="collapse"
                data-bs-target=".multi-collapse" aria-controls="filters__wrapper" aria-expanded="false"
                aria-label="Toggle filters">
                <img src="/assets/images/hamburger-menu.svg" width="50" class="img-fluid">
              </button>
              <h3 class="heading--tertiary">Filters</h3>
            </div>

            <div class="d-md-flex filters__category collapse multi-collapse" id="filters__wrapper">
              <div class="filter d-flex align-items-center">
                <label class="d-flex align-items-center justify-content-center" for="tous">
                  <app-svg icon="calendar" class="icon"></app-svg>
                </label>
                <input class="input--checkbox" type="radio" name="category" formControlName="category" value="tous"
                  id="tous">
              </div>
              <div *ngFor="let category of arrayCategories" class="filter d-flex align-items-center">
                <label for="{{category.name}}">
                  <app-svg icon="calendar" class="icon"></app-svg>
                </label>
                <input class="input--checkbox" type="radio" name="category" formControlName="category"
                  value="{{category._id}}" id="{{category.name}}">
              </div>
            </div>
            <div class="d-md-flex flex-column filters__actions multi-collapse collapse">
              <label for="date" class="label">Date</label>
              <input type="date" class="input" min="{{dateMin | date:'yyyy-MM-dd'}}" id="date" name="date"
                formControlName="date">
              <div class="text-center mt-3">
                <button class="btn btn-main" type="submit">Filtrer</button>
              </div>
            </div>
          </div>
        </form>
      </div>
 
      <div class="col-md-9">
        <div class="event-card bg-white p-5 d-flex align-items-start mb-4" *ngFor="let event of arrayEvent " >
          <div class="img-event" style="background-image: url('/assets/images/events/{{ event.url_image }}')"></div>
          <div class="ps-sm-5">
            <h2 class="fw-bold mb-2 text-start">{{ event.name }}</h2>
            <p>{{ event.description }}</p>
            <div class="d-flex justify-content-between mt-5">
              <div class="text-center">
                <img class="img-fluid img-radius" src="./assets/images/{{ event.categoryComplet.url_icon }}" width="40" alt="...">
                <small class="fw-bold color-main d-block">{{ event.categoryComplet.name }}</small>
              </div>
              <div class="d-flex justify-content-center flex-column text-center">
                <app-svg icon="calendar" class="icon"></app-svg>
                <small class="icon__label">{{ event.date_time | date: 'dd/MM/yyyy'}}</small>
              </div>
              <div class="d-flex justify-content-center flex-column text-center">
                <app-svg icon="calendar" class="icon"></app-svg>
                <small class="icon__label">{{ event.nbUserActual}}/{{ event.user_max}}</small>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center color-main event__actions">
              <button class="btn btn-main" routerLink="/detailsEvenement" [queryParams]="{ event: event._id }">En savoir
                plus</button>
              <p class="event__price mb-0">Gratuit</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>