.bg-img {
  background: linear-gradient(rgba(21, 32, 43, 0.6), rgba(21, 32, 43, 0.6)),
    url("https://curlied.sfo3.digitaloceanspaces.com/curliedImages/background/bg-evenement1.jpg");
  height: 100vh;
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.txt-banner {
  font-size: 18px;
  font-weight: 600;
}

.img-events {
  width: auto;
  height: 300px;
}

.images-banner img:first-child {
  z-index: 2;
  right: 240px;
}
.images-banner img:nth-child(2n) {
  z-index: 1;
  right: 140px;
}

/*  */

.title-left {
  text-align: left;
}

.title-left::after {
  left: 7%;
}

.bg-img-2 {
  background: linear-gradient(rgba(21, 32, 43, 0.6), rgba(21, 32, 43, 0.6)),
    url("https://curlied.sfo3.digitaloceanspaces.com/curliedImages/background/bg-evenement2.jpg");
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Z-index */

.z-index-0 {
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

/* Modal */

#btnEnvironnement {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.modal-content {
  background-color: var(--main-dark);
}

/* Responsive */

@media only screen and (max-width: 1200px) {
  .images-banner {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 50px;
  }
  .responsive-center {
    text-align: center;
  }
  .responsive-reverse {
    flex-wrap: wrap-reverse;
  }
  .responsvie-justify-center {
    justify-content: center !important;
  }
  .responsive-comments {
    height: 160px;
    margin-top: 270px;
  }
  .title-left {
    text-align: center;
  }
  .title-left::after {
    left: 50%;
  }
}

@media only screen and (max-width: 576px) {
  .responsive-comments {
    height: 220px;
    margin-top: 310px;
  }
}

@media only screen and (max-width: 478px) {
  h1 {
    font-size: 32px;
  }
}
