.form-check-input:checked {
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

.gradient {
  background-image: linear-gradient(#78BCF7, #2828C9); 
}

.CheckBox {
  width : 30px;
  height : 30px;
  background-color: white !important;
}
 
.event-card, .filters {
  border-radius: 40px;
}

.img-event {
  border-radius: 25px;
  width: 100%;
  height: 340px;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}

.img-radius {
  border-radius: 25px;
}

h2::after {
  content: none;
}

h2 {
  text-transform: initial;
}

.container {
  max-width: 1000px;
  min-height: 82vh;
}

.filter-category {
  max-width: 100%;
  overflow: overlay;
}

input[type="date"] {
  background-color: transparent !important;
  border-radius: 10px !important;
  border: 1px solid #707070 !important;
}

@media (min-width: 768px) {
  .filters {
    position: fixed;
  }
  .event-card {
    margin-bottom: 10rem !important;
  }
  .filter-category {
    max-height: 50vh;
    overflow-x: scroll;
    padding-right: 1.5rem;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  input[type="date"] {
    width: 125px;
  }
}