
    <body class="gradient">
      <div class="card mb-3" style="max-width: 630px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/images/concert1.jfif" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Soirée au loft</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel repellendus doloremque recusandae nesciunt eum! Totam laudantium quae perspiciatis laboriosam similique dignissimos iusto? Ratione distinctio repellat ad eveniet voluptas optio molestiae.</p>
              <a href="#" class="btn btn-primary card-text">Rejoindre</a>
            </div>
          </div>
        </div>
      </div>
  
      
        <div class="card mb-3" style="max-width: 630px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="./assets/images/concert1.jfif" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Soirée au loft</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel repellendus doloremque recusandae nesciunt eum! Totam laudantium quae perspiciatis laboriosam similique dignissimos iusto? Ratione distinctio repellat ad eveniet voluptas optio molestiae.</p>
                <a href="#" class="btn btn-primary card-text">Rejoindre</a>
              </div>
            </div>
          </div>
        </div>

        
          <div class="card mb-3" style="max-width: 630px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/images/concert1.jfif" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Soirée au loft</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel repellendus doloremque recusandae nesciunt eum! Totam laudantium quae perspiciatis laboriosam similique dignissimos iusto? Ratione distinctio repellat ad eveniet voluptas optio molestiae.</p>
                  <a href="#" class="btn btn-primary card-text">Rejoindre</a>
                </div>
              </div>
            </div>
          </div>

          
            <div class="card mb-3" style="max-width: 630px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="./assets/images/concert1.jfif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Soirée au loft</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel repellendus doloremque recusandae nesciunt eum! Totam laudantium quae perspiciatis laboriosam similique dignissimos iusto? Ratione distinctio repellat ad eveniet voluptas optio molestiae.</p>
                    <a href="#" class="btn btn-primary card-text">Rejoindre</a>
                  </div>
                </div>
              </div>
            </div>

            
              <div class="card mb-3" style="max-width: 630px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="./assets/images/concert1.jfif" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Soirée au loft</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel repellendus doloremque recusandae nesciunt eum! Totam laudantium quae perspiciatis laboriosam similique dignissimos iusto? Ratione distinctio repellat ad eveniet voluptas optio molestiae.</p>
                      <a href="#" class="btn btn-primary card-text">Rejoindre</a>
                    </div>
                  </div>
                </div>
              </div>
  

    </body>
    
    